<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="uk-container">
        <div id="app">
            {{message}}
        </div>
        <div id="app-2">
            <span v-bind:title="message">
              Наведи на меня курсор на пару секунд,
              чтобы увидеть динамически связанное значение title!
            </span>
        </div>
        <div id="app-3">
            <span v-if="seen">Сейчас меня видно</span>
          </div>
        <div id="app-4">
            <ol class="uk-list">
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
              <todo-item></todo-item>
            </ol>
        </div>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage" class="uk-button uk-button-primary uk-button-small">Перевернуть сообщение</button>
        </div>
        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message" class="uk-input">
        </div>
        <div id="app-7">
            <ol class="uk-list">
              <!--
                Теперь мы можем передать каждому компоненту todo-item объект
                с информацией о задаче, который будет динамически меняться.
                Мы также определяем для каждого компонента "key",
                значение которого мы разберём далее в руководстве.
              -->
              <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
              ></todo-item>
            </ol>
        </div>
          
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/vue-test.js"></script>
</body>
</html>