$style: 'block';
.#{$style}{
    padding: 20px 102px;
    min-height: 100vh;
    flex: 1 1 50%;
    background-color: $black;
    position: relative;
    &__list-cards{
        @include flex(stretch, center, row, wrap);
    }
    &__card{
        flex-basis: 50%;
        padding: 20px;
    }
    &__title{
        @include text(25px, 400, $white){
            text-align: center;
            font-family: 'Ubuntu', sans-serif;
        };
        margin-bottom: 20px;
    }
    &__list{
        @include flex(center, center, column);
    }
    &__item:not(:last-child){
        margin-bottom: 10px;
    }
    &__btn{
        min-width: 250px;
        border: 1px solid $white;
        padding: 10px 30px;
        border-radius: 2px;
        outline: none;
        @include text(18px, 400, $black){
            font-family: 'Ubuntu', sans-serif;
        };
        cursor: pointer;
        @include transition(all);
        &:hover{
            background-color: #c6c6c6;
            transform: scale(1.1);
        }
        &:active{
            box-shadow: inset 0px 2px 5px 0 rgba(255, 255, 255, 0.5);
        }
    }

    .btn-down{
        position: absolute;
        top: 94vh;
        left: 50%;
        transform: translateX(-50%);
        @include text(15px, 700, $red){
            text-transform: uppercase;
            text-decoration: none;
        }
        background-color: $black;
        outline: none;
        border: none;
        cursor: pointer;
        opacity: .5;
        @include transition(opacity);
        &:hover{
           opacity: 1; 
        }
    }
}